{%extends 'main/base.html'%}

{% block title %}{{article.Title}}{% endblock %}

{% block home %}
<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
{% endblock %}

{% block content %}
<div class="p-4">
    <h2>{{article.Header_on_article_page}}</h2>
    <figcaption class="blockquote-footer">
        Published <cite title="Source Title">{{article.date_of_pub}}</cite>
    </figcaption>
</div>


{%for par in paragraphs%}
<div class="container">
    <img src="{{par.image.url}}" width="800px" style="display: block; margin: auto;">
    <p class="lh-1" style="float: right;">{{par.paragraph}}</p>
</div>

{% endfor %}


{% endblock %}