{%extends 'main/base.html'%}

{%block title%}Корчуганов Александр{%endblock%}

{%block body%}
<body style="background-color: #343A3F;">
  <header>
    <div class='proj-button'>
      <a href="/">Проекты</a>
    </div>
  </header>

  <div class='row'>
    <div class='col_1'>
      <div class='markup'>
        <img src="https://mtdata.ru/u20/photo4068/20254900549-0/original.jpg" alt="тут должна быть фотка" class="round-image">
        <h1>Корчуганов<br>Александр</h1>
        <p>Python Developer</p>
        <div class="red-line"></div>
      </div>
      <div class="group" style='color: black;'>
        <h3>Свяжитесь со мной</h3>
        <div class="grey-line"></div>
        <p>Phone: +7 (902) 141-98-81 <br>
Email: akorchuganoff@yandex.ru<br>
Site: akorchuganoff.pythonanywhere.com<br>
Github: https://github.com/akorchuganoff<br>
Twitter: https://twitter.com/akorchuganoff<br></p>
      </div>
    </div>
    <div class='col_2'>
      <div class="group">
        <h3>Личная информация</h3>
        <div class="grey-line"></div>
        <p>Преимущественно Back-end Веб-разработчик. Мне нравится находить решения сложных задач и чинить то что плохо работает. Также я могу назвать себя целеустремленным и упорным. Мне нравится чувство, когда задача выполнена и я достиг того чего хотел.  Я олимпиадный математик. Участвовал в заключительном этапе всероссийской олимпиады школьников. Мне кажется умение быстро находить правильное решение не будет лишним в моей работе. Я быстро-обучаем, и способен разобраться в новой теме за несколько часов. <br>
Если у вас есть предложения по работе - напишите мне на почту</p>
      </div>
      <div class="group">
        <h3>Профиль</h3>
        <div class="grey-line"></div>
        <p>-Разработка REST-API и бэкэнда приложения. <br> Написание кода<br>
- Анализ чужого кода и его обслуживание<br>
-Тестирование кода</p>
      </div>
      <div class="group">
        <h3>Личные интересы</h3>
        <div class="grey-line"></div>
        <p>Мои интересы включают технологии, бизнес, путешествия,  чтение и решение математических задач олимпиадной тематики.</p>
      </div>
    </div>
    <div class='col_3'>
      <div class="group">
        <h3>Опыт работы</h3>
        <div class="grey-line"></div>
        <h4>Окончил курс Яндекс-Лицей</h4>
        <h5>Вхожу в топ 100 учеников по всей россии своего курса</h5>
        <p>Приобретенные навыки:<br><br>

-Backend разработка на Flask и Django<br>
-Работа с SQLalchemy <br>
-Работа с базами данных SQLite3 <br>
-Создание REST-API <br>
-Написание SQL-запросов <br>
-Работа с pyqt5 <br>
-Создание игр на основе библиотеки pygame <br>
-Написание чат-ботов для VK, Discord, Telegram <br>
-Работа с API сторонних сервисов<br>
-Работа с Яндекс-картами (geocoder, Yandex.Maps Static API)<br>
-Работа с шаблонизатором Jinja<br>
-Знаю принципы ООП (классы, функции, наследования)<br>
-Умею работать с json-файлами</p>
      </div>
      <div class="group">
        <h3>Образование</h3>
        <div class="grey-line"></div>
        <p>Гимназия №123 г.Барнаул<br>
СУНЦ МГУ</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
          integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
          crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>
{%endblock%}