{%extends 'main/base.html'%}

{%block title%}Много воды{%endblock%}

{%block home%}
<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
{%endblock%}

{%block content%}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Мой самый новый проект. Было не просто</h1>
        <p class="lead my-3">В этот раз я решил сделать свой личный сайт. Подробнее о процессе разработки расскажу в
            этой статье</p>
        <p class="lead mb-0"><a href="article/{{last_article_id}}" class="text-white fw-bold">Продолжить читать</a></p>
    </div>
</div>
{%endblock%}